<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Some clever title here - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <main role="main">
            $body$
        </main>

        <footer>
            <nav>
                <a href="mailto:abenetopoulos@gmail.com">email</a>
                <span>&#8249; &#8250;</span>
                <a href="https://www.github.com/abenetopoulos">code</a>
                <span>&#8249; &#8250;</span>
                <a href="https://www.linkedin.com/in/achilles-benetopoulos/">linkedin</a>
                <span>&#8249; &#8250;</span>
                <a href="https://www.twitter.com/singingcircuits">twitter</a>
            </nav>
        </footer>
    </body>
</html>
